<div class="header">
  <div class="header__logo">
    <img src="https://picsum.photos/id/237/200/300" alt="logo" />
  </div>
  <h1 class="header__title">Decentralized Streaming App</h1>
  <ul class="header__menu">
    <li class="header__menu-item">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="header__menu-item">
      <a routerLink="/stream" routerLinkActive="active">Stream</a>
    </li>
    <li class="header__menu-item">
      <a routerLink="/watch" routerLinkActive="active">Watch</a>
    </li>
  </ul>
</div>
