<div class="player">
  <video class="player__video" #videoPlayer>
    <source [src]="videoUrl()" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="player__controls">
    <button (click)="playPause()" class="player__controls-button">
      <i class="material-icons">{{ isPlaying ? "pause" : "play_arrow" }}</i>
    </button>
    <button (click)="muteUnmute()" class="player__controls-button">
      <i class="material-icons">{{ isMuted ? "volume_off" : "volume_up" }}</i>
    </button>
    <input
      type="range"
      min="0"
      max="1"
      step="0.01"
      [(ngModel)]="volume"
      (input)="setVolume()"
      class="player__controls-volume"
    />
    <input
      type="range"
      min="0"
      max="100"
      step="1"
      [(ngModel)]="progress"
      (input)="setProgress()"
      class="player__controls-progress"
    />
    <div class="player__controls-time">
      {{ currentTime / 60 | number : "2.0-0" }}:{{
        currentTime % 60 | number : "2.0-0"
      }}
      /
      {{ duration / 60 | number : "2.0-0" }}:{{
        duration % 60 | number : "2.0-0"
      }}
    </div>
    <button (click)="openFullScreen()" class="player__controls-button">
      <i class="material-icons">fullscreen</i>
    </button>
  </div>
</div>
